/* Defining css variables */
:root {
  --white: #ffffff;
  --red: red;
  --green: green;
  --light-blue: #d3eef1;
}

/* styles start */
.font-small {
  font-size: 0.8em;
}
.fixed-right-top {
  position: fixed;
  top: 0px;
  right: 20px;
}
.background--light-blue {
  background-color: var(--light-blue);
}
.background--red {
  background-color: var(--red);
}
.background--green {
  background-color: var(--green);
}
.text--white {
  color: white;
}
/* styles end */